/* General CSS */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    justify-content: space-between;
    width: 100%;   
}

p {
    margin: 0;
    display: inline;
}

h5 {
    text-align: center;
}

.container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#col {
    max-width: 400px;
}

.card {
    padding: 20px;
    margin-top: 10px;
    border: none;
}

.card p {
    margin-left: 10px;
}

.button_box {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px;
    text-align: left;
    border: none;
    border-radius: 5px;
    background: purple;
    color: white;
}

button:hover {
    background: orange;
}


/* Start Card CSS */

.start_box {
    align-items: center;
}

#start_button {
    width: 100px;   
    text-align: center;
}

/* Question Card CSS */

#question_card {
    display: none;
}

#response {
    padding-left: 20px;
    text-align: left;
}

/* Completion Card CSS */

#complete_card {
    display: none;
}

#complete_card p {
     margin-left: 0px;
}

.submit_btn {
    display: inline;
}

/* Highscore css */

#initials {
     width: 100px;
}

#high_scores:hover {
    color: red;
}

#score_list div {
    background: lightsteelblue;
    padding-left: 5px;
    margin-top: 5px;
}

#highscores {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}